::-webkit-scrollbar {
  display: none;
}

.home-page {
  padding: 15px;
  font-size: 50px;
}

@media only screen and (max-width: 1385px) {
  #selector {
    /* display: none; */
    position: relative !important;
    top: 20px !important;
    margin: 0 auto;
    right: 0 !important;
    width: 700px !important;
  }

  #holder {
    border-radius: 25px !important;
  }
}

@media only screen and (max-width: 1294px) {
  #configContainer {
    display: none !important;
  }
}

@media only screen and (max-width: 892px) {
  #navtop {
    display: none !important;
  }
}

#holder {
  scroll-behavior: smooth;
}
