::-webkit-scrollbar {
  display: none;
}

.home-page {
  padding: 15px;
  font-size: 50px;
}

.loadingtext {
  opacity: 1 !important;
}

#songSquare {
  transition: opacity 0.5s;
  opacity: 1;
}
#holder {
  scroll-behavior: smooth;
  cursor: url("./noteImages/quarter_note.png"), auto;
}

@media only screen and (max-width: 744) {
  #selector {
    display: "none" !important;
  }

  #holder {
    border-radius: 25px !important;
  }
}

@media only screen and (max-width: 1294px) {
  #configContainer {
    display: none !important;
  }
}

@media only screen and (max-width: 892px) {
  #navtop {
    display: none !important;
  }
}
